body, html{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
}
input{
    border-radius: 16px;
    border-color: purple;
}
input:hover{
    box-shadow: 0 0 10px purple;
}
button{
    border-radius: 16px;
    background-color: rgb(204, 54, 204);
    border-color: purple;
    font-weight: bold;
    color: rgb(0, 0, 0);
}   
.container{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column
    
}
.inputcontainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
}
    
li{ 
    font-weight: bold;
    background-color: lightgreen;
    margin: 10px auto;
    border-radius: 16px;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    


